# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        nautralpledge=botania
        thermalexpansion=thermalfoundation
        thermaldynamics=thermalfoundation
        thermalcultivation=thermalfoundation
        rftoolsdim=rftools
     >
    S:"Whitelisted Items" <
        immersiveengineering:tool:3
     >
    S:"Whitelisted Names" <
        book
        tome
        lexicon
        nomicon
        manual
        knowledge
        pedia
        compendium
        guide
        codex
        journal
		tablet
		PADD
		data
		info
		blockheads
     >
}


